header{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
header > input{
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  outline: none;
  border: none;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.movie_block{
  width: 300px;
  color: white;
  background-color: rgb(228, 152, 13);
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
}

.movie_block > img{
  max-width: 100%;
  max-height: 95%;
}
.movie_block > h3{
  max-width: 100%;
  margin: 10px 0;
}